    .progress-red::-moz-progress-bar { background-color: var(--error-color-red); }
    .progress-green::-moz-progress-bar { background-color: var(--current-color-green); }
    .progress-yellow::-moz-progress-bar { background-color: var(--warning-color-yellow); }
    .progress-purple::-moz-progress-bar { background-color: #603C9B; }
    .custom-progress{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 5%;
        background-color: #2D3748;
    }
    .custom-status-size {
        width: 80%; 
        max-width: 600px; 
        margin-bottom: 10%;
        padding: 10px; 
        padding-bottom: 0px;
        background-color: #E4E4E4; 
    }

    .character-page-background{
        background-image: url('/images/backgrounds/Character-Page-Bg.png');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
    }
