@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --error-color-red: #A72F35;
    --success-color-blue: #2049BD;
    --warning-color-yellow: #D5B946;
    --current-color-green: #3E8B75;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  @font-face {
    font-family: Galmuri9;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Galmuri9 Regular'),
    url('galmuri/dist/Galmuri9.woff2') format('woff2'),
    url('galmuri/dist/Galmuri9.ttf') format('truetype');
  }
  .font-galmuri9 {
    font-family: 'Galmuri9', sans-serif;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a,abbr,acronym,address,applet,article,aside,
  b,big,blockquote,body,canvas,caption,center,cite,code,
  dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,
  footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,ins,kbd,
  label,legend,li,main,mark,menu,nav,ol,output,
  p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
  table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var{
    @apply font-galmuri9;
  }
}

@layer components {
  .input-border {
    --border-color: black;
    @apply shadow-[4px_0_white,-4px_0_white,0_-4px_white,0_4px_white,8px_0_var(--border-color),-8px_0_var(--border-color),0_-8px_var(--border-color),0_8px_var(--border-color),0_0_0_4px_var(--border-color)];
  }
  /* 상태별로 --border-color 값을 오버라이드 */
  .state-current { --border-color: var(--current-color-green); }
  .state-success { --border-color: var(--success-color-blue); }
  .state-warning { --border-color: var(--warning-color-yellow); }
  .state-error   { --border-color: var(--error-color-red); }

  .two-step-border {
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-repeat:stretch;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset:2;
    padding:1rem 1.5rem;
    margin:4px;
  }
  
  .is-rounded {
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-repeat:stretch;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset:2;
    padding:1rem 1.5rem;
    margin:4px;
  }

  .is-rounded-progress{
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-repeat:stretch;
    border-image-outset:2;
    margin:1px;
  }

  /* progress */
  .progress-red::-moz-progress-bar { background-color: var(--error-color-red); }
  .progress-green::-moz-progress-bar { background-color: var(--current-color-green); }
  .progress-yellow::-moz-progress-bar { background-color: var(--warning-color-yellow); }
  .progress-purple::-moz-progress-bar { background-color: #603C9B; }
  .custom-progress{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 5%;
      background-color: #2D3748;
  }
  .custom-status-size {
    width: 80%; 
    max-width: 600px; 
    margin-bottom: 10%;
    margin-left: 5%;
    padding: 10px; 
    padding-bottom: 0px;
    background-color: #E4E4E4; 
}
.character-page-background{
  background-image: url('/images/backgrounds/Character-Page-Bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* 전체 화면 높이 */
  position: relative;
}
  /* progress */

  
  .is-rounded-navi {
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-repeat:stretch;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(244,244,245)" /></svg>');
    border-image-outset:2;
  }
  
  button.is-rounded-navi {
    border-style: none;
    border-width: 0px;
  }
  
  .is-rounded-navi[data-state="active"] {
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-repeat:stretch;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset:2;
  }
  
  .is-rounded-full {
    background:url(/images/border_round.svg) center center;
    background-repeat: no-repeat;
  }

  .is-rounded-dialog {
    border-style: solid;
    border-width: 4px;
    border-image-slice:3;
    border-image-width:3;
    border-image-repeat:stretch;
    border-image-source:url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset:4;
    border-radius: 0;
  }
}
